extends layout
block content
	#banner.page-header
		.row
			.col-md-6.col-sm-12
				h1= title
		.row
			.col-md-6.col-sm-12
				p
					| Loc8r foi criado para ajudar pessoas a encontrarem wifi
					| <br/> <br/>
					| Tube cardboard paranoid rain dome bicycle convenience store nodal point Tokyo tanto office voodoo god warehouse sign boy. Shibuya engine construct tanto neural industrial grade tank-traps wristwatch neon papier-mache wonton soup. Semiotics fetishism soul-delay DIY realism denim katana uplink systemic tattoo corrupted wristwatch. Computer rebar boat cardboard spook into vehicle film motion corporation digital. Free-market alcohol courier computer augmented reality weathered futurity jeans beef noodles artisanal systemic. Denim voodoo god receding concrete order-flow advert carbon digital. Disposable network free-market table digital computer saturation point long-chain hydrocarbons alcohol wristwatch. Singularity rifle-space assassin RAF euro-pop soul-delay tattoo range-rover j-pop pistol face forwards sentient bomb nodal point claymore mine dissident. Order-flow dolphin media cartel neural beef noodles vehicle tank-traps Chiba weathered Tokyo corrupted girl shrine man range-rover. Artisanal construct crypto-into cyber-wristwatch post-neon BASE jump city convenience store sub-orbital. LOREM2